{% extends 'base_administrator.html' %}
{% load humanize %}
{% block main-content-admin %}
    <div class="main-content__request--app">
        <div class="buyer__form-container">
            <form action="." class="white" method="post">
                {% csrf_token %}
                <div class="buyer__form-container--left">
                    <h2>Información personal</h2>
                    <div class="form__item form__item--white">
                        {{ formp.name.label_tag }}{{ formp.name }}
                    </div>
                    <div class="form__item form__item--white">
                        {{ form.email.label_tag }}{{ form.email }}
                    </div>
{#                    <div class="form__item form__item--white">#}
{#                        {{ form.password.label_tag }}{{ form.password }}#}
{#                    </div>#}
                    <div class="form__item form__item--white">
                        {{ formp.identification.label_tag }}{{ formp.identification }}
                    </div>
                    <div class="form__item form__item--white">
                        {{ formp.phone.label_tag }}{{ formp.phone }}
                    </div>
                    <div class="form__item form__item--white">
                        {{ formp.product_wanted.label_tag }}{{ formp.product_wanted }}
                    </div>
                    <div class="form__item form__item--white">
                        {{ formp.quantity_wanted.label_tag }}{{ formp.quantity_wanted }}
                    </div>
                    <button type="submit" class="btn--app btn--app--left">Guardar</button>
                </div>
                <div class="buyer__form-container--right">
                    <h2>Información de envio</h2>
                    <div class="form__item form__item--white">
                        {{ formp.city.label_tag }}{{ formp.city }}
                    </div>
                    <div class="form__item form__item--white">
                        {{ formp.address.label_tag }}{{ formp.address }}
                    </div>
                    <div class="form__item form__item--white">
                        {{ formp.city.label_tag }}{{ formp.city }}
                    </div>
                    <div class="form__item form__item--white">
                        {{ formp.contact_phone.label_tag }}{{ formp.contact_phone }}
                    </div>
                    <div class="form__item form__item--white">
                        {{ formp.contact_name.label_tag }}{{ formp.contact_name }}
                    </div>

                </div>

            </form>
        </div>
        <h2>Sus pedidos</h2>
            {% for p in buyer.order_set.all %}
                {% if forloop.first %}
                    <table>
                        <thead>
                            <tr class="fifth">
                                <th>Referencia del pedido</th>
                                <th>Fecha de entrega</th>
                                <th>Precio total</th>
{#                                <th>Método de pago</th>#}
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                {% endif %}
                            <tr class="fifth">
                                <td><a href="{% url 'administrator:request__detail' p.id %}">{{ p.code }}</a></td>
                                {# TODO: include var date shipping #}
                                <td>{% if p.shipping_date %}{{ p.shipping_date }}{% else %}Por definir{% endif %}</td>
                                <td>$ {{ p.subtotal|intcomma }}</td>
{#                                <td></td>#}
                                <td>{{ p.state }}</td>
                            </tr>
                {% if forloop.last %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}