{% extends 'base_administrator.html' %}
{% load static from staticfiles %}
{% block extraCSS %}
{#    <link rel="stylesheet" href="{% static 'css/vendor/image.upload.css' %}"/>#}
{% endblock %}
{% block main-content-admin %}
    <div class="main-content__request--app">
        <h2 class="center">¿Está seguro que desea borrar el comprador {{ buyer.name }}</h2>
        <br/>
        <div class="product__form-container">
            <form action="." method="post" class="white">
                {% csrf_token %}
                <input type="hidden" name="user" id="id_user" value="{{ buyer.user.id }}"/>
                <a href="#" onclick="window.history.back(); return false;" class="btn btn--app">No</a><button type="submit" class="btn btn--app">Borrar</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block extraJS %}

{% endblock %}