{% extends 'base_administrator.html' %}
{% load static from staticfiles %}
{% block main-content-admin %}
    <div class="main-content__request--app">
        <h2>Estos son los compradores</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="message message--info">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% for b in list_buyers %}
            {% if forloop.first %}
                <table>
                    <thead>
                        <tr class="fourth">
                            <th>Nombre</th>
                            <th>Número de pedidos</th>
                            <th>Fecha del último pedido</th>
                            <th>Estado de último pedido</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
            {% endif %}
                        <tr class="fourth">
                            <td><a href="{% url 'administrator:buyers__edit' b.id %}">{{ b.name }}</a></td>
                            <td class="center">{{ b.order_set.all|length }}</td>
                            <td>{% for i in b.order_set.all %}{% if forloop.last %}{{ i.created|date:"d/m/Y" }}{% endif %}{% endfor %}</td>
                            <td>{% for i in b.order_set.all %}{% if forloop.last %}{{ i.state|capfirst }}{% endif %}{% endfor %}</td>
                            <td class="center"><a href="{% url 'administrator:buyers__delete' b.user.id %}"><img src="{% static 'images/delete_icon.png' %}" alt=""/></a></td>
                        </tr>
            {% if forloop.last %}
                    </tbody>
                </table>
            {% endif %}
        {% empty %}
            <h3 class="center">No hay compradores registrados</h3>
        {% endfor %}
    </div>
{% endblock %}