{% extends 'base_administrator.html' %}
{% block main-content-admin %}
    <div class="main-content__request--app">
        <div class="main-content__request__head">
            <h2 class="center">Cambia la contraseña</h2>

        </div>
        <div class="password-change__form-container">
            <form action="." method="post" class="transparent">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form__item form__item--white">
                        {{ field.label_tag }}{{ field }}
                    </div>
                {% endfor %}
                <button class="btn--app" type="submit">Guardar</button>
            </form>
        </div>
    </div>
{% endblock %}