{% extends 'base_administrator.html' %}
{% load static from staticfiles %}
{% block extraCSS %}
{#    <link rel="stylesheet" href="{% static 'css/vendor/image.upload.css' %}"/>#}
{% endblock %}
{% block main-content-admin %}
    <div class="main-content__request--app">
        <h2>Ingresa la información de los productos</h2>
        <div class="product__form-container">
            <form action="." method="post" class="white" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="product__form-container__left">
                    <div class="form__item form__item--white">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                    <div class="form__item form__item--white">
                        {{ form.variety.label_tag }}
                        {{ form.variety }}
                        {{ form.variety.errors }}
                    </div>
                    <div class="form__item form__item--white">
                        {{ form.category.label_tag }}
                        {{ form.category }}
                        {{ form.category.errors }}
                    </div>
                    <div class="form__item form__item--white">
                        {{ form.price.label_tag }}
                        {{ form.price }}
                        {{ form.price.errors }}
                    </div>
                    <div class="form__item form__item--white">
                        {{ form.min_selling.label_tag }}
                        {{ form.min_selling }}
                        {{ form.sell_unit }}
                        {{ form.min_selling.errors }}
                        {{ form.sell_unit.errors }}
                    </div>
                    <div class="form__item form__item--white">
                        {{ form.features.label_tag }}
                        {{ form.features }}
                        {{ form.features.errors }}
                    </div>
                    <button class="btn--app btn--app--left" type="submit">Guardar</button>
                </div>
                <div class="product__form-container__right">
                    <div class="form__item form__item--white relative">
                        {{ form.image }}
                        {{ form.image.label_tag }}
                        <div class="full-width product-preview-container">
                            <img id="product-preview"/>
                        </div>
                        {{ form.image.errors }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block extraJS %}

{% endblock %}