{% extends 'base_administrator.html' %}
{% load static from staticfiles %}
{% block main-content-admin %}
    <div class="main-content__request--app">
        <div class="main-content__request__head">
            <h2 class="center">Estos son los productores</h2>
            <a href="{% url 'administrator:producer__add' %}" class="btn btn--app">Agregar productor</a>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="message message--info">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% for p in list_producer %}
            {% if forloop.first %}
                <table>
                    <thead>
                        <tr class="third">
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
            {% endif %}
                    <tr>
                        <td><a href="{% url 'administrator:producer__edit' p.id %}">{{ p.name }}</a></td>
                        <td>{{ p.user.email }}</td>
                        <td>{{ p.phone }}</td>
                        <td class="center"><a href="{% url 'administrator:producer__delete' p.user.id %}"><img src="{% static 'images/delete_icon.png' %}" alt=""/></a></td>
                    </tr>
            {% if forloop.last %}
                    </tbody>
                </table>
            {% endif %}
        {% empty %}
            <h3 class="center">No hay productores registrados</h3>
        {% endfor %}
    </div>
{% endblock %}