{% extends 'base_administrator.html' %}
{% load static from staticfiles %}
{% load humanize %}
{% block main-content-admin %}
    <div class="main-content__request--app">
        <div class="main-content__request__head">
            <h2>Este es el listado de los productos</h2>
            <a href="{% url 'administrator:product__add' %}" class="btn btn--app">Agregar producto</a>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="message message--info">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% for p in list_product %}
            {% if forloop.first %}
                <table class="list-products--app">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Variedad</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
            {% endif %}
                        <tr>
                            <td><img src="{{ MEDIA_URL }}{{ p.image }}" width="170" alt=""/></td>
                            <td>{{ p.variety }}</td>
                            <td>{{ p.features }}</td>
                            <td>{{ p.price|intcomma }} x {{ p.min_selling }} {{ p.sell_unit }}{{ p.min_selling|pluralize }}</td>
                            <td class="center"><a href="{% url 'administrator:product__delete' p.id %}"><img src="{% static 'images/delete_icon.png' %}" alt=""/></a></td>
                        </tr>
            {% if forloop.last %}
                    </tbody>
                </table>
            {% endif %}
        {% empty %}
            <h3>No hay productos</h3>
        {% endfor %}
    </div>
{% endblock %}