{% extends 'base_administrator.html' %}
{% block main-content-admin %}
    <div class="main-content__request--app">
        <h2 class="center">Estos son los productores</h2>
        <div class="producer__form-container">
            <form action="." class="white" method="post">
                {% csrf_token %}
                <div class="form__item form__item--white">

                    {{ formp.name.label_tag }}{{ formp.name }}
                </div>
                <div class="form__item form__item--white">{{ formp.name.errors }}</div>
                <div class="form__item form__item--white">
                    {{ formp.identification.label_tag }}{{ formp.identification }}
                </div>
                <div class="form__item form__item--white">{{ formp.identification.errors }}</div>
                <div class="form__item form__item--white">
                    {{ formp.address.label_tag }}{{ formp.address }}
                </div>
                <div class="form__item form__item--white">{{ formp.address.errors }}</div>
                <div class="form__item form__item--white">
                    {{ formp.phone.label_tag }}{{ formp.phone }}
                </div>
                <div class="form__item form__item--white">{{ formp.phone.errors }}</div>
                <div class="form__item form__item--white">
                    {{ formp.city.label_tag }}{{ formp.city }}
                </div>
                <div class="form__item form__item--white">{{ formp.city.errors }}</div>
                <div class="form__item form__item--white">
                    {{ form.email.label_tag }}{{ form.email }}
                </div>
                <div class="form__item form__item--white">{{ form.email.errors }}</div>
                <div class="form__item form__item--white">
                    {{ formp.produced_products.label_tag }}{{ formp.produced_products }}
                </div>
                <div class="form__item form__item--white">{{ formp.produced_products.errors }}</div>
                <div class="form__item form__item--white">
                    {{ formp.produced_quantity.label_tag }}{{ formp.produced_quantity }}
                </div>
                <div class="form__item form__item--white">{{ formp.produced_quantity.errors }}</div>
                <div class="form__item form__item--white">
                    {{ formp.production_time.label_tag }}{{ formp.production_time }}
                </div>
                <div class="form__item form__item--white">{{ formp.production_time.errors }}</div>
                <div class="form__item form__item--white">
                    {{ form.password.label_tag }}{{ form.password }}
                </div>
                <div class="form__item form__item--white">{{ form.password.errors }}</div>
                <button type="submit" class="btn--app">Guardar</button>
            </form>
        </div>
    </div>
{% endblock %}