{% extends 'base_administrator.html' %}
{% load static from staticfiles %}
{% load humanize %}

{% block main-content-admin %}
    <div class="main-content__request--app">
        <h2>Estos son los pedidos que han realizado</h2>
        <div id="message-change-request" class="message message--info"></div>
        <form action="." method="post" id="list-orders" class="transparent transparent--inline">
            {% csrf_token %}
            {{ list_orders.management_form }}
            {% for o in list_orders.forms %}
                {% if forloop.first %}
                    <table>
                    <thead>
                    <tr class="fifth">
                        <th>Referencia del pedido</th>
                        <th>Fecha de entrega</th>
                        <th>Precio total</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                {% endif %}
            <tr class="fifth">
                <td><a href="{% url 'administrator:request__detail' o.instance.id %}">{{ o.instance.code}}</a></td>
                <td>{{ o.id }}{% if o.shipping_date %}{{ o.shipping_date }}{% else %}Por definir{% endif %}</td>
                <td>$ {{ o.instance.subtotal|intcomma }}</td>
                <td>{{ o.state }}</td>
            </tr>
            {% if forloop.last %}
                </tbody>
                </table>
            {% endif %}
                {% empty %}
                <h3>No hay pedidOS</h3>
            {% endfor %}
        </form>
    </div>
{% endblock %}
