{% extends 'base_administrator.html' %}
{% load humanize %}
{% load cart_extras %}
{% block main-content-admin %}
    <div class="main-content__request--app request--detail">
        <h2>Este es el pedido <span>{{ order.code }}</span></h2>
        {% for i in order.orderitem_set.all %}

            {% if forloop.first %}
                <table>
                    <thead>
                        <tr class="fifth">
                            <th>Producto</th>
                            <th>Descripción</th>
                            <th>Precio unitario</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
            {% endif %}
                        <tr class="fifth">
                            <td><img src="{{ MEDIA_URL }}{{ i.product.image }}" alt="" width="170"/></td>
                            <td>{{ i.product.name }} {{ i.product.variety }}</td>
                            <td>$ {{ i.product.price }} x {{ i.product.min_selling }} {{ i.product.sell_unit }}{{ i.product.min_selling|pluralize }}</td>
                            <td>{{ i.quantity }}</td>
                            <td>$ {{ i.subtotal|intcomma }}</td>
                        </tr>
            {% if forloop.last %}
                    </tbody>
                </table>
            {% endif %}
        {% empty %}
            <h3>No hay pedidOS</h3>
        {% endfor %}
        <div class="totals">
{#            <div><p>Total productos </p><span>{{ order.subtotal|intcomma }}</span></div>#}
{#            <div><p>Total envio </p><span>2.650</span></div>#}
            <div class="great-total"><p>Total </p><span>{{ order.subtotal|intcomma }}</span></div>
        </div>
        <div class="shipping-info">
            <h2>Información de envío</h2>

            <p><span>Nombres</span>{{ order.buyer.name }}</p>

            <p><span>Correo</span>{%  if order.buyer.contact_email %}{{ order.buyer.contact_email }}{% else %}{{ order.buyer.user.email }}{% endif %}</p>

            <p><span>Dirección</span>{{ order.buyer.address }}</p>

            <p><span>Teléfono</span>{{ order.buyer.phone}}</p>
        </div>
    </div>
{% endblock %}
