{% load static from staticfiles %}
<header class="sidebar">
    <figure class="logo">
        <img src="{% static 'images/logo.png' %}" alt="ComproAgro.com"/>
    </figure>
    <nav class="navigation--app">
        <ul>
            {% for i in menu_buyer %}
                <li {% if i.active %}class="active" {% endif %}><a href="{{ i.url }}" >{{ i.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>