{% load humanize %}
{% load cart_extras %}
<h2>Este es el pedido <span>{{ order.code }}</span></h2>
{% for i in order.orderitem_set.all %}
    {% if forloop.first %}
        <table>
            <thead>
                <tr class="fifth">
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Precio unitario</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
    {% endif %}
                <tr class="fifth">
                    <td><img src="{{ MEDIA_URL }}{{ i.product.image }}" alt="" width="170"/></td>
                    <td>{{ i.product.name }} {{ i.product.variety }}</td>
                    <td>$ {{ i.product.price }} x {{ i.product.min_selling }} {{ i.product.sell_unit }}{{ i.product.min_selling|pluralize }}</td>
                    <td>{{ i.quantity }}</td>
                    <td>$ {{ i.subtotal|intcomma }}</td>
                </tr>
    {% if forloop.last %}
            </tbody>
        </table>
    {% endif %}
{% endfor %}
<div class="totals">
    <div class="great-total"><p>Total </p><span>{{ order.subtotal|intcomma }}</span></div>
</div>