@import url(../css/normalize.css);
@import url(../css/fonts.css);
form { background-color: black; }
form.white { background-color: white; }
form.transparent { background-color: transparent; }
form.transparent--inline input[type="text"] { border: 1px solid #545454; }
form.transparent--inline select { width: 100%; }

input, textarea { height: 30px; border: none; border-radius: 10px; padding-left: 10px; color: black; }

select { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; background: url("../images/arrow_dropdown.png") no-repeat; background-position: 95% center; border-radius: 10px; height: 30px; padding-right: 5px; }
select.select-filter { color: black; height: 35px; }

option { color: black; }

textarea { height: 100px; }

button[type="submit"] { background-color: #688900; background-image: -webkit-linear-gradient(#688900, #617f00); background-image: linear-gradient(#688900, #617f00); height: 30px; width: 340px; border: none; border-radius: 15px; }
button[type="submit"].btn--app { background: #468c00; border: 1px solid #146400; border-radius: 4px; display: block; height: 35px; margin: 0 auto; width: 200px; }
button[type="submit"].btn--app--left { margin: 0; }

input[type="checkbox"] { display: none; }
input[type="checkbox"] + label { cursor: pointer; width: 50%; }
input[type="checkbox"].white + label::before { content: ""; margin-right: 3px; display: inline-block; width: 15px; height: 15px; background: url("../images/checkbox.png") 0 15px; }
input[type="checkbox"].white:checked + label::before { background: url("../images/checkbox.png") 0 0; }
input[type="checkbox"].black + label { padding-right: 0; }
input[type="checkbox"].black + label::after { background: url("../images/checkbox.png") 15px 16px; content: ""; margin-left: 3px; display: inline-block; width: 15px; height: 15px; }
input[type="checkbox"].black:checked + label::after { background: url("../images/checkbox.png") 15px 0; }

.form__item { margin: 1em 0; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -moz-box-pack: end; box-pack: end; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; -o-justify-content: flex-end; justify-content: flex-end; -ms-flex-pack: end; }
.form__item--black label { font-family: "ralewaylight", sans-serif; padding-right: 5%; text-align: right; width: 38%; }
.form__item--white label { color: black; padding-right: 20px; text-align: right; width: 38%; }
.form__item--white input, .form__item--white textarea, .form__item--white select { border: 1px solid #666666; color: black; width: 62%; }

*, *::after, *::before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: "open_sansregular", sans; color: white; }

html, body { height: 100%; }

a { text-decoration: none; color: white; }
a:hover { text-decoration: underline; }
a:visited { color: white; }

figure { margin: 0; }

header { position: relative; height: 100%; height: 100vh; }

ul { list-style: none; margin: 0; padding: 0; }

.background { position: fixed; z-index: -1; overflow: hidden; width: 100%; height: 100%; height: 100vh; background: fixed; background-size: cover; background-position: center; margin: 0; padding: 0; }
.background--home { background-image: url("../images/bg_home.jpg"); }
.background--register { background-image: url("../images/bg_register.jpg"); }
.background--producer { background-image: url("../images/bg_producer.jpg"); }

.header--buyer { background: url("../images/header_store.jpg") no-repeat center center; background-size: cover; height: 270px; }
.header--buyer .head__content { max-width: 1080px; margin: 0 auto; }
.header--buyer h1 { font: 50px "ralewaylight", sans-serif; margin: 0; text-shadow: 2px 2px 1px #000; }
.header--buyer p { font: 20px "ralewaylight", sans-serif; margin-top: 0.5em; text-shadow: 2px 2px 1px #000; }

.head { width: 100%; background-color: transparent; background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.65), transparent); background-image: linear-gradient(rgba(0, 0, 0, 0.65), transparent); }

.head__top { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; margin: 0 auto; max-width: 1080px; padding-top: 30px; position: relative; }

.logo { max-width: 350px; position: relative; }

.navigation { width: 730px; }
.navigation ul { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; list-style: none; }
.navigation ul li { color: white; display: inline-block; font-family: "ralewayregular", sans-serif; }
.navigation ul .active { color: #ffbf00; }

.head__content { text-align: center; margin: 10px auto 0; position: relative; }
.head__content .play-head { background: rgba(255, 255, 255, 0.85); border-radius: 50%; display: block; line-height: 84px; margin: 0 auto; width: 67px; height: 67px; text-decoration: none; }
.head__content .play-head .icon--play { border-top: 13px solid transparent; border-bottom: 13px solid transparent; border-left: 13px solid #333333; display: inline-block; height: 0; width: 0; }
.head__content .head__intro { color: white; font: 18px "ralewayregular", sans-serif; margin: 10px auto 50px; max-width: 864px; text-shadow: 2px 2px 1px #000; line-height: 1.5; }
.head__content .head__title { color: white; text-shadow: 2px 2px 1px #000; }
.head__content .head__title--register { font: 50px "ralewaylight", sans-serif; margin-bottom: 110px; }
.head__content .actions { max-width: 1080px; margin: auto; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: distribute; -moz-box-pack: distribute; box-pack: distribute; -webkit-justify-content: space-around; -moz-justify-content: space-around; -ms-justify-content: space-around; -o-justify-content: space-around; justify-content: space-around; -ms-flex-pack: distribute; }
.head__content .actions .want-buy, .head__content .actions .want-sale { -webkit-align-self: center; -moz-align-self: center; align-self: center; -ms-flex-item-align: center; background: rgba(255, 255, 255, 0.2); border: 2px solid white; border-radius: 50%; color: white; cursor: pointer; font: 40px "ralewaylight", sans-serif; line-height: 40px; height: 180px; width: 180px; }
.head__content .actions .want-buy > p, .head__content .actions .want-sale > p { font: inherit; margin: 1.2em 0; }
.head__content .actions .want-buy:hover, .head__content .actions .want-sale:hover { background: #ff8200; -webkit-transition: 500ms ease all; -moz-transition: 500ms ease all; transition: 500ms ease all; }
.head__content .actions--register .want-buy, .head__content .actions--register .want-sale { font: 32px "ralewaylight", sans-serif; }
.head__content .goto-down { display: inline-block; margin-top: 20px; }

.video-container { width: 100%; height: 100%; position: fixed; display: none; z-index: -10; }

.overlay { background: url("../images/scanlines.png"); width: 100%; height: 100%; height: 100vh; position: fixed; z-index: -9; }

.stop-head { background: rgba(255, 255, 255, 0.85); border-radius: 50%; display: block; line-height: 84px; margin: 0 auto; width: 67px; height: 67px; text-decoration: none; position: absolute; bottom: -100px; left: 50%; text-decoration: none !important; z-index: 9999; -webkit-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); transform: translate(-50%, 0); opacity: 0; }
.stop-head .icon--stop { border-top: 13px solid #333333; border-bottom: 13px solid #333333; border-left: 13px solid #333333; border-right: 13px solid #333333; display: inline-block; height: 0; width: 0; margin-left: 12px; }

.main-content { text-align: center; padding-top: 60px; }
.main-content__text { padding-bottom: 60px; }
.main-content__text > h1 { font: 65px "ralewaylight", sans-serif; }
.main-content__text > p { font-family: "ralewayregular", sans-serif; margin: 0 auto; max-width: 1080px; text-align: left; line-height: 1.5; }
.main-content__video { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; position: relative; }
.main-content__video .video--large { width: 66.65%; }
.main-content__video .video--short { width: 33.35%; }
.main-content--home { background: #ff8200; }
.main-content--whatis { background: #688900; }
.main-content--store { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; padding-top: 0; }
.main-content--store .products { padding: 50px 90px 0 50px; width: 1000px; }
.main-content--store .products h2 { color: black; font: 23px "ralewaylight", sans-serif; margin: 0; text-align: left; }
.main-content--store .products .buyer__actions { margin: 20px 0; overflow: hidden; }
.main-content--store .products .btn--app { margin: 0; float: right; }
.main-content--store-detail { max-width: 1080px; margin: 0 auto; padding-top: 30px; }
.main-content--store-detail .product, .main-content--store-detail .shipping--info { border: 1px solid #888888; border-radius: 10px; }
.main-content--store-detail .product { overflow: hidden; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }
.main-content--store-detail .product .product--image { padding: 80px 48px 80px 52px; width: 55%; }
.main-content--store-detail .product .product--description { background: #f0f0e1; padding: 40px; text-align: left; width: 45%; }
.main-content--store-detail .product .product--description * { color: black; }
.main-content--store-detail .product .product--description h2 { border-bottom: 1px solid #888888; font: 20px "ralewaymedium", sans-serif; margin: 0; padding-bottom: 4px; }
.main-content--store-detail .product .product--description .product--subtitle { color: #666666; font: 16px "ralewaymedium", sans-serif; margin: 4px 0 0; }
.main-content--store-detail .product .product--description .product--quantity-min span { font-weight: bold; }
.main-content--store-detail .product .product--description .product--text { color: #666666; font: 14px "ralewaymedium", sans-serif; }
.main-content--store-detail .product .product--description .product--quantity { border: 1px solid #888888; font-size: 23px; height: 35px; margin: 0 0 20px 0; width: 85px; }
.main-content--store-detail .product .product--description .btn--app { color: white; }
.main-content--store-detail .shipping--info { margin: 30px 0; padding: 20px; }
.main-content--store-detail .shipping--info h2 { color: black; font: 20px "ralewaymedium", sans-serif; margin: 0; text-align: left; }
.main-content--store-detail .shipping--info p { color: #666666; font: 15px "ralewaymedium", sans-serif; text-align: left; }
.main-content--store-detail .shipping--info p span { color: inherit; font-weight: bold; }
.main-content--store-detail .shipping--info ul { margin-left: 20px; }
.main-content--store-detail .shipping--info li { color: #666666; list-style: disc; text-align: left; }

.cart-items { position: absolute; top: 0px; right: 0; width: 75px; height: 75px; border-radius: 8px; line-height: 90px; background: url("../images/basket.png") no-repeat center, rgba(255, 255, 255, 0.6); }
.cart-items a { display: block; width: 100%; height: 100%; }

.product--price { font: 16px "ralewaylight", sans-serif; color: black; text-align: left; margin: 0.5em 0; }
.product--price span { color: #d93600 !important; font: 19px "ralewaymedium", sans-serif; }
.product--price::before { content: "$ "; color: #d93600; }

.filter { background: #f0f0e1; min-height: 46vh; padding: 50px 0 0 100px; width: 280px; }
.filter p, .filter label { color: black; }
.filter p { font: 16px "ralewaymedium", sans-serif; margin: 0 0 0.5em 0; padding-left: 15px; position: relative; }
.filter label { font: 14px "ralewaymedium", sans-serif; }
.filter li { text-align: left; padding-left: 1em; }
.filter > ul > li { margin-top: 1em; }
.filter > ul > li:first-child { margin-top: 0; }

.arrow--filter { position: absolute; top: 7px; left: 0; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid black; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg); }

.filters { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; padding-bottom: 20px; }
.filters select:first-child { width: 200px; }
.filters select:last-child { width: 85px; }

.products__list { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-lines: multiple; -moz-box-lines: multiple; box-lines: multiple; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; }
.products__list .product__item { border: 1px solid #888888; border-radius: 10px; margin-bottom: 1em; overflow: hidden; width: 200px; }
.products__list .product__info { padding: 1em; }
.products__list .product__item__image { background-color: #f0f0e1; border-bottom: 1px solid #888888; padding: 0.5em 0; width: 198px; height: 152px; }
.products__list .product__item__name { color: black; font: 16px "ralewaymedium", sans-serif; margin: 0; text-align: left; text-transform: uppercase; }
.products__list .btn--store { width: 85px !important; float: none !important; }

.pagination { text-align: right; }
.pagination a { color: #545454; }

.login__form-container { max-width: 458px; margin: 0 auto; }
.login__form-container form { width: 100%; }
.login__form-container form input { width: 73%; }
.login__form-container form label { font: 18px "ralewayregular", sans-serif; line-height: 30px; text-shadow: 2px 2px 1px #000; width: 27%; }

.modal { width: 100%; height: 100%; height: 100vh; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.85); display: block; }
.modal--hidden { display: none; }

.contact { position: fixed; top: 0; right: 0; width: 40px; }
.contact__link { background: #617f00; border-radius: 10px 10px 0 0; display: block; font: 18px "ralewaylight", sans-serif; height: 40px; line-height: 40px; position: relative; text-align: center; width: 260px; z-index: 9998; -webkit-transform: rotate(-90deg) translate(-130%, -105px); -moz-transform: rotate(-90deg) translate(-130%, -105px); -ms-transform: rotate(-90deg) translate(-130%, -105px); -o-transform: rotate(-90deg) translate(-130%, -105px); transform: rotate(-90deg) translate(-130%, -105px); }
.contact__link .arrow { position: absolute; top: 15px; right: 50px; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid white; -webkit-transition: 300ms ease transform; -moz-transition: 300ms ease transform; transition: 300ms ease transform; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
.contact__link--hide .arrow { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.contact .contact__form-container { position: relative; width: 610px; height: 680px; }
.contact .contact__form-container form { height: 630px; padding: 39px 60px 0 0; position: absolute; text-align: center; top: 0; right: 0; width: 565px; }
.contact .contact__form-container form h2 { font: 30px "ralewaylight", sans-serif; }
.contact .contact__form-container form span { display: block; font-family: "ralewaylight", sans-serif; text-align: right; }
.contact .contact__form-container form input, .contact .contact__form-container form textarea { width: 62%; }
.contact .contact__form-container form button { float: right; width: 62%; }
.contact .contact__form-container form .contact__info { padding-top: 1em; padding-left: 38%; clear: both; color: white; text-align: left; }
.contact .contact__form-container form .contact__info p { font-family: "ralewayregular", sans-serif; margin: 0.25em 0; }

.buyer-form, .producer-form { width: 700px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: none; }
.buyer-form h2, .producer-form h2 { font: 30px "ralewaylight", sans-serif; text-align: center; margin-top: 0; }
.buyer-form span, .producer-form span { display: block; font-family: "ralewaylight", sans-serif; text-align: right; }
.buyer-form form, .producer-form form { padding: 30px 50px 25px; width: 700px; }
.buyer-form form input, .producer-form form input { width: 62%; }
.buyer-form form button, .producer-form form button { display: block; margin: 0 auto; }
.buyer-form.visible-form, .producer-form.visible-form { display: block; }

footer { background: #333333; height: 140px; }
footer .footer-content { -webkit-box-align: center; -moz-box-align: center; box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -ms-flex-align: center; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; height: 100%; margin: 0 auto; max-width: 1080px; }
footer .logo--footer { -webkit-flex-grow: 1; -moz-flex-grow: 1; flex-grow: 1; -ms-flex-positive: 1; }
footer .logo--extra { -webkit-flex-grow: 1; -moz-flex-grow: 1; flex-grow: 1; -ms-flex-positive: 1; }
footer .logo--extra p { text-transform: uppercase; }

.popup { width: 540px; height: 300px; position: absolute; background: url("../images/popups.png") no-repeat; padding-top: 170px; display: none; top: 50%; left: 50%; z-index: 99; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.register-popup { background-position: 0 -600px; }

.order-popup { background-position: 0 -300px; }

.contact-popup { background-position: 0 0; }

.popup__title { text-align: center; color: #146400; margin: 0 0 1em; font-family: "ralewaymedium", sans-serif; font-weight: normal; text-transform: uppercase; }
.popup__title--error { color: darkred; }

.popup__message { text-align: center; font-family: "ralewaylight", sans-serif; color: black; }

.popup__close { width: 25px; height: 25px; display: block; position: absolute; top: -20px; right: -20px; cursor: pointer; background: url("../images/delete_icon.png") no-repeat center; }

#message-change-request { display: none; }

.center { text-align: center; }

.right { text-align: right; }

.uppercase { text-transform: uppercase; }

.hideme { opacity: 0; }

.relative { position: relative; }

.full-width { width: 100%; }

.btn { background-color: #688900; background-image: -webkit-linear-gradient(#688900, #617f00); background-image: linear-gradient(#688900, #617f00); height: 30px; width: 340px; text-align: center; line-height: 30px; border-radius: 15px; }
.btn.btn--app { background: #468c00; border: 1px solid #146400; border-radius: 4px; display: block; height: 35px; margin: 0 auto; width: 200px; }
.btn.btn--app--left { margin: 0; }

.wrapper--app { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; height: 100%; height: 100vh; width: 100%; }

.sidebar { background: #1b2433; height: 100%; height: 100vh; left: 0; position: fixed; top: 0; width: 190px; z-index: 10; }
.sidebar .logo { padding: 35px 0; text-align: center; }
.sidebar .navigation--app li { border-left: 5px solid transparent; padding-left: 2em; height: 40px; line-height: 40px; }
.sidebar .navigation--app li.active { border-left: 5px solid #93cc41; background: #121a27; }

.main-content--app { background: #ececfb; margin-left: 190px; position: relative; width: 100%; }
.main-content--app .main-content__header--app { background: white; height: 90px; width: 100%; position: relative; display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -moz-box-pack: end; box-pack: end; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; -o-justify-content: flex-end; justify-content: flex-end; -ms-flex-pack: end; -webkit-box-align: center; -moz-box-align: center; box-align: center; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -ms-flex-align: center; }
.main-content--app .main-content__header--app .main-content__header__user--app { cursor: pointer; }
.main-content--app .main-content__header--app .main-content__header__user--app p { color: black; display: inline-block; margin-right: 1em; }
.main-content--app .main-content__header--app .main-content__header__user--app span { display: inline-block; background: url("../images/arrow_dropdown.png") no-repeat; height: 7px; padding-right: 2em; width: 11px; }
.main-content--app .main-content__header__menu { background: white; border: 1px solid #cccccc; border-radius: 8px; padding: 8px 16px; position: absolute; top: 65px; right: 10px; z-index: 1; }
.main-content--app .main-content__header__menu li { text-align: center; }
.main-content--app .main-content__header__menu li:first-child { border-bottom: 1px solid #cccccc; }
.main-content--app .main-content__header__menu a { color: black; display: block; font: 14px "ralewaymedium", sans-serif; padding: 4px 0; }
.main-content--app .main-content__header__menu--hidden { display: none; }
.main-content--app .main-content__request--app { background: white; margin: 10px; padding: 49px 55px 0; position: absolute; top: 90px; left: 0; right: 0; bottom: 0; overflow-y: auto; }
.main-content--app .main-content__request--app h2 { color: black; font: 23px "ralewaylight", sans-serif; margin: 0; }
.main-content--app .main-content__request--app h3 { color: black; font: 18px "ralewaylight", sans-serif; margin: 0; }
.main-content--app .main-content__request--app.request--detail { padding: 49px 160px 0; }
.main-content--app .main-content__request--app.request--detail h2 span { color: #d93600; }
.main-content--app .main-content__request--app.request--detail .shipping-info { border: 1px solid #cccccc; border-radius: 8px; margin-bottom: 90px; margin-top: 35px; padding: 35px 40px; }
.main-content--app .main-content__request--app.request--detail .shipping-info p { color: #666666; }
.main-content--app .main-content__request--app.request--detail .shipping-info span { color: black; display: inline-block; margin-right: 1em; width: 5em; text-align: right; }
.main-content--app .main-content__request--app .main-content__request__head { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -moz-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; -ms-flex-pack: justify; }
.main-content--app .main-content__request--app .main-content__request__head .btn { margin: 0; }

.totals { text-align: right; padding-left: 64%; }
.totals p, .totals span { color: black; display: inline-block; text-align: left; }
.totals p { font: 16px "ralewaylight", sans-serif; text-align: left; width: 10em; }
.totals span { font-size: 19px; font-weight: bold; width: 6em; }
.totals span::before { color: black; content: "$ "; }
.totals .great-total { background-color: #cccccc; padding-left: 1em; }
.totals .great-total p { font: 16px "ralewaymedium", sans-serif; }

.producer__form-container { margin: 0 auto; width: 600px; }

.product__form-container form { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row; -moz-flex-flow: row; flex-flow: row; }
.product__form-container form input, .product__form-container form textarea { width: 76%; }
.product__form-container form input.middle { width: 38%; }
.product__form-container form select.middle { margin-left: 2%; width: 36%; }
.product__form-container form label { font: 17px "ralewaymedium", sans-serif; width: 24%; }
.product__form-container .product__form-container__left { padding-right: 10px; width: 60%; }
.product__form-container .product__form-container__right { width: 40%; }
.product__form-container .product__form-container__right input[type='file'] { position: absolute; display: none; width: 100%; height: 200px; }
.product__form-container .product__form-container__right input[type='file'] + label { width: 100%; height: 100%; cursor: pointer; border: 1px solid black; border-radius: 10px; text-align: center; line-height: 200px; display: table-cell; vertical-align: middle; color: #545454; position: relative; }

.product-preview-container { width: 100%; position: absolute; top: 0; left: 0; }

#product-preview { display: block; margin: 0 auto; }

.buyer__form-container { margin-bottom: 75px; }
.buyer__form-container form { display: -webkit-box; display: -moz-box; display: box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }
.buyer__form-container form > div { width: 50%; }
.buyer__form-container form label { font: 17px "ralewayregular", sans-serif; }
.buyer__form-container--left { padding-right: 10px; }
.buyer__form-container--right { padding-left: 30px; }

.password-change__form-container { max-width: 458px; margin: 0 auto; }
.password-change__form-container form label { font: 17px "ralewayregular", sans-serif; }

.list-products--app td:first-child, .list-products--app th:first-child { width: 190px; }
.list-products--app td:last-child, .list-products--app th:last-child { width: 108px; }
.list-products--app td:nth-child(2), .list-products--app th:nth-child(2) { width: 160px; }
.list-products--app td:nth-child(4), .list-products--app th:nth-child(4) { width: 178px; }

/** Helpers **/
.errorlist li { color: darkred; }

.message { width: 90%; margin: 1em auto; padding: 0.5em; border-radius: 0.5em; }
.message--info { background: lightyellow; border: 1px solid #c3c39d; color: black; text-align: center; }

table { border-collapse: collapse; border-radius: 8px 8px 0 0; border: 1px solid #cccccc; margin-top: 42px; width: 100%; }
table thead { background: #eeeeee; }
table tr { height: 50px; }
table tr.fifth th, table tr.fifth td { width: 20%; }
table tr.third th, table tr.third td { width: 33%; }
table tr.third th:last-child, table tr.third td:last-child { width: 34%; }
table th { color: #545454; border: 1px solid #cccccc; font-weight: normal; }
table td { color: black; border: 1px solid #cccccc; padding: 20px; }
table td a { color: #d93600; text-decoration: underline; }
table td a:visited { color: #d93600; }

/*# sourceMappingURL=styles.css.map */
