{% load humanize %}
{% load cart_extras %}
<div class="logo"><img src="http://comproagro.com/static/images/logo.png" alt=""/></div>
<h1>Hola!</h1>
<p>Tu pedido <span style="color: #D93600">{{ order.code }}</span> cambio su estado a <span style="font-weight: bold">{{ order.state }}</span></p>
