{% load static from staticfiles %}
<!doctype html>
<html lang="es-co">
<head>
    <meta charset="UTF-8">
    <title>ComproAgro.com</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/parsley.css' %}"/>
</head>
<body>
<!--[if lt IE 9]>
    <p class="browserupgrade">Esta usando un navegador <strong>antiguo</strong>. Por favor<a href="http://browsehappy.com/"> actualice su navegador</a> para mejorar su experiencia.</p>
<![endif]-->
    <section class="wrapper">

        {% block header %}{% endblock %}

        {% block main_content %}{% endblock %}

        <div class="modal modal--hidden"></div>
        {% include 'partials/contact_form.html' %}
        {% include 'partials/contact-popup.html' %}

        {% block extra-forms %}{% endblock %}

        {% block footer %}{% endblock %}
    </section>

    <script src="{% static 'js/vendor/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/vendor/parsley.min.js' %}"></script>
    <script src="{% static 'js/vendor/es.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.fitvids.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extraJS %}{% endblock %}
</body>
</html>