{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ComproAgro.com</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    {% block extraCSS %}{% endblock %}
</head>
<body>
<!--[if lt IE 9]>
<p class="browserupgrade">Esta usando un navegador <strong>antiguo</strong>. Por favor<a href="http://browsehappy.com/"> actualice su navegador</a> para mejorar su experiencia.</p>
<![endif]-->
<section class="wrapper--app">
    {% block sidebar %}
        {% include 'partials/header_administrator.html' %}
    {% endblock %}
    <section class="main-content--app">
        <div class="main-content__header--app">
            <div class="main-content__header__user--app">
                <p>{{ request.user }}</p>
                <span></span>
            </div>
            <div class="main-content__header__menu main-content__header__menu--hidden">
                <ul>
                    <li><a href="{% url 'administrator:change_password' %}">Cambiar Contraseña</a></li>
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>

        {% block main-content-admin %}{% endblock %}

    </section>
</section>
<script src="{% static 'js/vendor/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'js/main_admin.js' %}"></script>
{% block extraJS %}

{% endblock %}
</body>
</html>