{% extends 'base_administrator.html' %}
{% load humanize %}
{% block sidebar %}
    {% include 'partials/header_buyer.html' %}
{% endblock %}
{% block main-content-admin %}
    <div class="main-content__request--app">
        <h2>Estos son los pedidos que haz realizado</h2>
        {% for o in buyer.order_set.all %}
            {% if forloop.first %}
                <table>
                    <thead>
                        <tr class="fifth">
                            <th>Referencia del pedido</th>
                            <th>Fecha de entrega</th>
                            <th>Precio total</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
            {% endif %}
                        <tr class="fifth">
                            <td><a href="#">{{ o.code }}</a></td>
                            <td>{% if o.shipping_date %}{{ o.shipping_date }}{% else %}Por definir{% endif %}</td>
                            <td>$ {{ o.subtotal|intcomma }}</td>
                            <td>{{ o.state }}</td>
                        </tr>
            {% if forloop.last %}
                    </tbody>
                </table>
            {% endif %}
        {% empty %}
            <h3>Aun no ha realizado ningún pedido</h3>
        {% endfor %}
    </div>
{% endblock %}