{% extends 'base_website.html' %}
{% load static from staticfiles %}
{% block header %}
    <header>
        <div class="background background--home">
            <div class="video-container"></div>
            <div class="overlay"></div>
        </div>
        {% include 'partials/head_website.html' %}

        <section class="head__content">
            <a href="#" class="play-head">&nbsp;<span class="icon--play"></span>
            </a>
            <p class="head__intro">Proyecto de aprovechamiento de una plataforma digital para lograr la comercialización de productos del agro, eliminando intermediarios y entregando productos al cliente final (Grandes cadenas) mejorando los ingresos del productor agrícola sin afectar el precio final al consumidor final. Desarrollo de página WEB y APP para captar productores y compradores.</p>
            <section class="actions">
                <div class="want-buy">
                    <p>quiero comprar</p>
                </div>
                <div class="want-sale">
                    <p>quiero vender</p>
                </div>
            </section>
            <a href="#" class="goto-down">
                <img src="{% static 'images/down_anchor.png' %}" alt="Bajar"/>
            </a>
        </section>

        <a href="#" class="stop-head">
            &nbsp;
            <span class="icon--stop"></span>
        </a>
    </header>
{% endblock %}

{% block main_content %}
    <section class="main-content main-content--home">
        <article class="main-content__text">
            <h1 class="hideme">Responsabilidad Social</h1>
            <p class="hideme">
                Unimos al productor  y al consumidor, asegurando un precio equitativo de compra y venta de los productos agrícolas colombianos.
            </p>
        </article>
        <article class="main-content__video hideme">
            <div class="video--large">
                <iframe width="853" height="492" src="//www.youtube.com/embed/2SCXD_SMxmQ?controls=2&amp;showinfo=0&amp;autohide=1&amp;modestbranding=1" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="video--short">
                <iframe width="427" height="246" src="//www.youtube.com/embed/aB7SZ2CsjnY?controls=2&amp;showinfo=0&amp;autohide=1&amp;modestbranding=1" frameborder="0" allowfullscreen=""></iframe>
                <iframe width="427" height="246" src="//www.youtube.com/embed/SyFJWr9dhb4?controls=2&amp;showinfo=0&amp;autohide=1&amp;modestbranding=1" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </article>
    </section>
{% endblock %}
{% block extra-forms %}

    {% include 'partials/register_buyer_form.html' %}
    {% include 'partials/register_producer_form.html' %}
{#    {% include 'partials/contact-popup.html' %}#}
    {% include 'partials/register-popup.html' %}
    {% include 'partials/register_error-popup.html' %}
    {% include 'partials/register_exist-popup.html' %}
{% endblock %}
{% block footer %}
    {% include 'partials/footer_website.html' %}
{% endblock %}
{% block extraJS %}
    <script src="{% static 'js/csrf_ajax.js' %}"></script>
{% endblock %}