{% extends 'base_website.html' %}
{% load static from staticfiles %}
{% block header %}
    <header>
        <div class="background background--register">
            <div class="overlay"></div>
        </div>
        {% include 'partials/head_website.html' %}
        <section class="head__content head__content--register">
            <h2 class="head__title head__title--register">Ingresar a mi cuenta</h2>

            <div class="login__form-container">
                <form action="" method="post" class="transparent">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form__item form__item--black">
                            {{ field.label_tag }}{{ field }}
                        </div>
                    {% endfor %}
                    <button id="id_contact_submit" type="submit">Entrar</button>
                </form>
            </div>
        </section>
    </header>
{% endblock %}