{% extends 'base_website.html' %}
{% load static from staticfiles %}
{% block header %}
    <header>
        <div class="background background--producer">
            <div class="overlay"></div>
        </div>
        {% include 'partials/head_website.html' %}
    </header>
{% endblock %}