{% extends 'base_website.html' %}
{% load static from staticfiles %}
{% block header %}
    <header>
        <div class="background background--register">
            <div class="overlay"></div>
        </div>
        {% include 'partials/head_website.html' %}
        <section class="head__content head__content--register">
            <h2 class="head__title head__title--register">Registrarme</h2>
            <section class="actions actions--register">
                <div class="want-buy">
                    <p>Soy comprador</p>
                </div>
                <div class="want-sale">
                    <p>Soy productor</p>
                </div>
            </section>
        </section>
    </header>
{% endblock %}
{% block extra-forms %}
    {% include 'partials/register_buyer_form.html' %}
    {% include 'partials/register_producer_form.html' %}
    {% include 'partials/register-popup.html' %}
    {% include 'partials/register_error-popup.html' %}
    {% include 'partials/register_exist-popup.html' %}
{% endblock %}