{% extends 'base_website.html' %}
{% load static from staticfiles %}
{% block header %}
    <header>
        <div class="background background--register">
            <div class="overlay"></div>
        </div>
        {% include 'partials/head_website.html' %}
        <section class="head__content head__content--register">
            <h2 class="head__title head__title--register">Qué es comproagro</h2>
        </section>
    </header>
{% endblock %}
{% block main_content %}
    <section class="main-content main-content--whatis">
        <article class="main-content__text">
            <h1>QUIENES SOMOS?</h1>
            <p>
                Comproagro es el  resultado de una familia que a través de la
                tecnología transforma su vida y su negocio. El mundo de la oferta y la
                demanda es difícil y es algo que enfrentan todos los productores con
                los mayoristas donde el campesino tiende a perder. Por esta razón
                nació Comproagro para enaltecer al campesino colombiano,
                mejorando los ingresos de cada cosecha que produce y de esta forma
                mejorar su calidad de vida.
            </p>
        </article>
    </section>
{% endblock %}
{% block footer %}
    {% include 'partials/footer_website.html' %}
{% endblock %}