{% extends 'base_website.html' %}
{% load static from staticfiles %}
{% load humanize %}
{% load carton_tags %}
{% load cart_extras %}
{% block header %}
    <header class="header--buyer">
        {% include 'partials/head_website.html' %}
        <section class="head__content">
            <h1>Detalle de producto</h1>
        </section>
    </header>
{% endblock %}
{% block main_content %}
    <section class="main-content main-content--store-detail">
        <section class="product">
            <div class="product--image">
                <img src="{{ MEDIA_URL }}{{ product.image }}" alt=""/>
            </div>
            <div class="product--description">
                <h2 class="uppercase">{{ product.name }}</h2>
                <p class="product--subtitle">{{ product.variety }}</p>
                <p class="product--price"><span>{{ product.price|intcomma }}</span> x {{ product.min_selling }} {{ product.sell_unit }}{{ product.min_selling|pluralize }}</p>
                <p class="product--quantity-min">Compra mínima: <span>{{ product.min_selling }}</span> {{ product.sell_unit }}</p>
                <p class="product--text">{{ product.features }}</p>

                <form action="/tienda/add/" method="get" class="transparent">
                    <input type="hidden" name="id" id="id" value="{{ product.id }}"/>
                    <input class="product--quantity" type="number" min="{{ product.min_selling }}" name="quantity" id="quantity" value="{{ product.min_selling }}"/>
                    <button class="btn--app btn--app--left" type="submit">Comprar</button>
                </form>
            </div>
        </section>
        <section class="shipping--info">
            <h2>Información de envio</h2>
            <p>Comproagro entregara tus pedidos en la comodidad de tu casa entre 4 a 7 días hábiles, con pago contra entrega o consignación</p>
            <p><span>Contra entrega:</span> Los días de la promesa de venta, cuenta a partir de la confirmación de la compra.
                Para esto recibirá una llamada de servicio al cliente.</p>
            <p>
                <span>Consignación:</span> Una vez el banco ha aprobado la consignación y recibamos tu comprobante de pago al correo:
                comproagrocolombia@gmail.com. Servicio al cliente llamara a confirmar tu compra. Aplican restricciones y condiciones.
            </p>
            <ul>
                <li>Si la compra es confirmada después de las 5 de la tarde se registrara para el día siguiente.</li>
            </ul>
        </section>

    </section>
{% endblock %}