{% extends 'base_website.html' %}
{% load static from staticfiles %}
{% load humanize %}
{% load carton_tags %}
{% load cart_extras %}
{% block header %}
    <header class="header--buyer">
        {% include 'partials/head_website.html' %}
        <section class="head__content">
            <h1>Carrito de compras</h1>
        </section>
    </header>
{% endblock %}
{% block main_content %}
    <section class="main-content main-content--store">
        <section class="filter">

        </section>
        {% get_cart as cart %}
        <section class="products">
            <h2>Este es tu carrito de compras</h2>
            {% for p in cart.items %}
                {% if forloop.first %}
                    <table>
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Descripción</th>
                                <th>Precio unitario</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                {% endif %}
                            <tr>
                                <td><img src="{{ MEDIA_URL }}{{ p.product.image }}" alt="" width="170"/></td>
                                <td>{{ p.product.name}} {{ p.product.variety }}</td>
                                <td>{{ p.product.price|intcomma }} x {{ p.product.sell_unit }}</td>
                                <td>{{ p.quantity }}</td>
                                <td>{{ p.subtotal|intcomma }}</td>
                                <td><a href="{% url 'store:remove_from_car' p.product.id %}"><img src="{% static 'images/delete_icon.png' %}" /></a></td>
                            </tr>
                {% if forloop.last %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
            <div class="totals">
{#                <div><p>Total productos </p><span>{{ total|intcomma }}</span></div>#}
{#                <div><p>Total envio </p><span>{{ 2650|intcomma }}</span></div>#}
                <div class="great-total"><p>Total </p><span>{{ total|intcomma }}</span></div>
            </div>
            <div class="buyer__actions">
                <button type="submit" id="make_request" class="btn--app">Hacer Pedido</button>
            </div>
        </section>
    </section>
    {% include 'partials/order-popup.html' %}
{% endblock %}