{% extends 'base_website.html' %}
{% load static from staticfiles %}
{% load humanize %}
{% load cart_extras %}
{% load carton_tags %}
{% block header %}
    <header class="header--buyer">
            {% include 'partials/head_website.html' %}
            <section class="head__content">
                <h1>Hacer mi pedido</h1>
                <div class="cart-items">
                    <a href="{% url 'store:show_car' %}">
                        {{ number_items }}
                    </a>
                </div>
            </section>
        </header>
{% endblock %}
{% block main_content %}
    <section class="main-content main-content--store">
        <section class="filter">
            <form action="." method="get" id="filter_store" class="transparent">
                <ul>
                    <li>
                        <p><span class="arrow--filter"></span> Producto</p>
                        <ul>
                            {% for c in list_categories %}
                                <li>
                                    <input type="checkbox" name="category" id="id_category_{{ c.category }}" value="{{ c.category }}" class="white"
                                            {% if c.category in list_filter_category %}checked{% endif %}/>
                                    <label for="id_category_{{ c.category }}">{{ c.category }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <p><span class="arrow--filter"></span> Variedad</p>
                        <ul>
                            {% for v in list_varieties %}
                                <li>
                                    <input type="checkbox" name="variety" id="id_variety_{{ v.variety }}" value="{{ v.variety }}" class="white"
                                        {% if v.variety in list_filter_variety %}checked{% endif %} />
                                    <label for="id_variety_{{ v.variety }}">{{ v.variety }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </form>
        </section>
        <section class="products">
            <div class="filters">
                <select form="filter_store" class="select-filter" name="order_by" id="id_order_by">
                    <option value="">Ordenar por</option>
                    <option value="pasc" {% if order_by  == 'pasc' %}selected{% endif %}>Producto ascendente</option>
                    <option value="pdes" {% if order_by  == 'pdes' %}selected{% endif %}>Producto descendente</option>
                </select>
                <select form="filter_store" class="select-filter" name="paginate_by" id="id_paginate_by">
                    <option value="20" {% if items_by_page == 20 %}selected{% endif %}>20</option>
                    <option value="40" {% if items_by_page == 40 %}selected{% endif %}>40</option>
                </select>
            </div>
            <section class="products__list">
                {% for product in list_products %}
                    <article class="product__item">
                        <a href="{% url 'store:product_detail' product.id %}">
                            <figure class="product__item__image">
                                <img src="{{MEDIA_URL}}{{ product.image }}" alt="" width="170"/>
                            </figure>
                        </a>
                        <div class="product__info">
                            <h3 class="product__item__name">{{product.name}} {{ product.variety }}</h3>
                            <p class="product--price">
                                <span>{{ product.price|subtotal:product.min_selling|intcomma }}</span> x {{ product.min_selling }} {{ product.sell_unit }}{{ product.min_selling|pluralize }}
                            </p>
                            <form action="/tienda/add/" method="get" class="transparent">
                                <input type="hidden" name="id" id="id" value="{{ product.id }}"/>
                                <button class="btn--app btn--app--left btn--store " type="submit">Agregar</button>
                            </form>
                        </div>
                    </article>
                {% endfor %}
            </section>
            <div class="pagination">
                {% for page_num in list_products.paginator.page_range %}
                    <a href="{% append_to_get page=page_num %}">{{ page_num|subtotal:items_by_page }}</a>
                {% endfor %}
            </div>
        </section>
    </section>
{% endblock %}
{% block footer %}
    {% include 'partials/footer_website.html' %}
{% endblock %}