<section class="contact">
    <a class="contact__link contact__link--hide" href="#">
        Contactanos
        <span class="arrow"></span>
    </a>
    <div class="contact__form-container">
        <form action="." method="post" id="contactForm">
            {% csrf_token %}
            <h2>Contacto</h2>
            <span>* Campos obligatorios</span>
            {% for field in contact_form %}
                <div class="form__item form__item--black">
                    {{ field.label_tag }}{{ field }}
                </div>
            {% endfor %}
            <button type="submit" id="id_contact_submit">Enviar</button>
            <div class="contact__info">
                <p>o contactanos por:</p>
                <p>Celular: 320 890 9629</p>
                <p>Correo: comproagrocolombia@gmail.com</p>
                <p>Facebook: facebook.com/ComproAgro</p>
                <p>Twitter: @ComproAgro</p>
            </div>
        </form>
    </div>
</section>