{% load static from staticfiles %}
<footer>
    <div class="footer-content">
        <div class="logo--footer">
            <a href="index.html">
                <img src="{% static 'images/logo_footer.png' %}" alt="ComproAgro"/>
            </a>
        </div>
        <div class="logo--extra">
            <p>Con el apoyo de:</p>
            <img src="{% static 'images/logo_apps.png' %}" alt="apps.co"/>
            <img src="{% static 'images/logo_mintic.png' %}" alt="MinTIC"/>
        </div>
    </div>
</footer>