{% load static from staticfiles %}
<section class="head">
    <div class="head__top">
        <figure class="logo">
            <img src="{% static 'images/logo.png' %}" alt="ComproAgro.com"/>
        </figure>
        <nav class="navigation">
            <ul>
                {% for i in menu_website %}
                    <li><a href="{{ i.url }}" {% if i.active %}class="active" {% endif %}>{{ i.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>