<div class="popup order-popup">
    <h2 class="popup__title">Tu pedido fue enviado</h2>
    <p class="popup__message">Gracias por apoyar el agro colombiano.</p>
    <div class="popup__close"></div>
</div>