<div class="popup register-popup">
    <h2 class="popup__title">Gracias por registrarte</h2>
    <p class="popup__message">Estás apoyando el agro colombiano.</p>
    <div class="popup__close"></div>
</div>