<div class="popup register_exist-popup">
    <h2 class="popup__title">El correo electrónico ya está registrado</h2>
    <p class="popup__message">Por favor ponte en contacto con nosotros al correo info@comproagro.com</p>
    <div class="popup__close"></div>
</div>