<section class="producer-form">
    <form action="." method="post" id="registerProducerForm" data-parsley-validate>
        <h2>Registro productor</h2>
        <span>* Campos obligatorios</span>

        <div class="form__item form__item--black">
            {{ formproducer.name.label_tag }}
            {{ formproducer.name }}
        </div>
        <div class="form__item form__item--black">
            {{ formproducer.identification.label_tag }}
            {{ formproducer.identification }}
        </div>
        <div class="form__item form__item--black">
            {{ formproducer.phone.label_tag }}
            {{ formproducer.phone }}
        </div>
        <div class="form__item form__item--black">
            {{ formproducer.address.label_tag }}
            {{ formproducer.address }}
        </div>
        <div class="form__item form__item--black">
            {{ formproducer.city.label_tag }}
            {{ formproducer.city }}
        </div>
        <div class="form__item form__item--black">
            {{ formuser.email.label_tag }}
            {{ formuser.email }}
        </div>
        <div class="form__item form__item--black">
            {{ formproducer.produced_products.label_tag }}
            {{ formproducer.produced_products }}
        </div>
        <div class="form__item form__item--black">
            {{ formproducer.produced_quantity.label_tag }}
            {{ formproducer.produced_quantity }}
        </div>
        <div class="form__item form__item--black">
            {{ formproducer.production_time.label_tag }}
            {{ formproducer.production_time }}
        </div>
        <div class="form__item form__item--black">
            {{ formuser.password.label_tag }}
            {{ formuser.password }}
        </div>
        <div class="form__item form__item--black">
            <input type="checkbox" name="" id="terms--producer" class="black"/>
            <label for="terms--producer">Acepta los términos de uso</label>
        </div>
        <div class="form__item form__item--black">
            {{ formproducer.email_notifications }}
            {{ formproducer.email_notifications.label_tag }}
        </div>

        <button id="id_producer_submit" type="submit">Aceptar</button>
    </form>
</section>