<div class="popup register_error-popup">
    <h2 class="popup__title popup__title--error">Se ha presentado un error</h2>
    <p class="popup__message">Por favor ponte en contacto con nosotros al correo info@comproagro.com</p>
    <div class="popup__close"></div>
</div>