<section class="buyer-form">
    <form action="." method="post" id="registerBuyerForm" data-parsley-validate>
        {% csrf_token %}
        <h2>Registro comprador</h2>
        <span>* Campos obligatorios</span>

        <div class="form__item form__item--black">
            {{ formbuyer.name.label_tag }}
            {{ formbuyer.name }}
        </div>
        <div class="form__item form__item--black">
            {{ formbuyer.identification.label_tag }}
            {{ formbuyer.identification }}
        </div>
        <div class="form__item form__item--black">
            {{ formbuyer.phone.label_tag }}
            {{ formbuyer.phone }}
        </div>
        <div class="form__item form__item--black">
            {{ formbuyer.address.label_tag }}
            {{ formbuyer.address }}
        </div>
        <div class="form__item form__item--black">
            {{ formbuyer.city.label_tag }}
            {{ formbuyer.city }}
        </div>
        <div class="form__item form__item--black">
            {{ formuser.email.label_tag }}
            {{ formuser.email }}
        </div>
        <div class="form__item form__item--black">
            {{ formbuyer.product_wanted.label_tag }}
            {{ formbuyer.product_wanted }}
        </div>
        <div class="form__item form__item--black">
            {{ formbuyer.quantity_wanted.label_tag }}
            {{ formbuyer.quantity_wanted }}
        </div>
        <div class="form__item form__item--black">
            {{ formuser.password.label_tag }}
            {{ formuser.password }}
        </div>
        <div class="form__item form__item--black">
            <input type="checkbox" name="" id="terms--buyer" class="black"/>
            <label for="terms--buyer">Acepta los términos de uso</label>
        </div>
        <div class="form__item form__item--black">
            {{ formbuyer.email_notifications }}
            {{ formbuyer.email_notifications.label_tag }}
        </div>
        <button id="id_buyer_submit" type="submit">Aceptar</button>
    </form>
</section>