.wrapper--app {
    @include display(flex);
    height: 100%;
    height: 100vh;
    width: 100%;
}

    .sidebar {
        background: $blue_1;
        height: 100%;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 190px;
        z-index: 10;
        .logo {
            padding: 35px 0;
            text-align: center;
        }

        .navigation--app {
            li {
                border-left: 5px solid transparent;
                padding-left: 2em;
                height: 40px;
                line-height: 40px;
                &.active {
                    border-left: 5px solid $green_3;
                    background: $blue_2;
                }
            }
        }
    }

    .main-content--app {
        background: $grey_2;
        margin-left: 190px;
        position: relative;
        width: 100%;
        .main-content__header--app {
            background: white;
            height: 90px;
            width: 100%;
            position: relative;
            @include display(flex);
            @include justify-content(flex-end);
            @include align-items(center);
            .main-content__header__user--app {
                cursor: pointer;
                p {
                    color: black;
                    display: inline-block;
                    margin-right: 1em;
                }
                span {
                    display: inline-block;
                    background: url("../images/arrow_dropdown.png") no-repeat;
                    height: 7px;
                    padding-right: 2em;
                    width: 11px;
                }
            }
        }
        .main-content__header__menu {
            background: white;
            border: 1px solid $grey_3;
            border-radius: 8px;

            padding: 8px 16px;
            position: absolute;
            top: 65px;
            right: 10px;
            z-index: 1;
            li {
                text-align: center;
                &:first-child {
                    border-bottom: 1px solid $grey_3;
                }
            }
            a {
                color: black;
                display: block;
                font: 14px $ralewaymedium;
                padding: 4px 0;
            }
            &--hidden {
                display: none;
            }
        }
        .main-content__request--app {
            background: white;
            margin: 10px;
            padding: 49px 55px 0;
            position: absolute;
            top: 90px;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;
            h2 {
                color: black;
                font: 23px $ralewaylight;
                margin: 0;
            }
            h3 {
                color: black;
                font: 18px $ralewaylight;
                margin: 0;
            }
            &.request--detail {
                padding: 49px 160px 0;
                h2 span {
                    color: $red_1;
                }

                .shipping-info {
                    border: 1px solid $grey_3;
                    border-radius: 8px;
                    margin-bottom: 90px;
                    margin-top: 35px;
                    padding: 35px 40px;
                    p {
                        color: $grey_6;
                    }
                    span {
                        color: black;
                        display: inline-block;
                        margin-right: 1em;
                        width: 5em;
                        text-align: right;
                    }
                }
            }
            .main-content__request__head {
                @include display(flex);
                @include justify-content(space-between);
                .btn {
                    margin: 0;
                }
            }
        }

    }

.totals {
    text-align: right;
    padding-left: 64%;
    p, span {
        color: black;
        display: inline-block;
        text-align: left;
    }
    p {
        font: 16px $ralewaylight;
        text-align: left;
        width: 10em;
    }
    span {
        font-size: 19px;
        font-weight: bold;
        width: 6em;
        &::before {
            color: black;
            content: "$ ";
        }
    }
    .great-total {
        background-color: $grey_3;
        padding-left: 1em;
        p {
            font: 16px $ralewaymedium;
        }
    }
}

    .producer__form-container {
        margin: 0 auto;
        width: 600px;
    }

    .product__form-container {
        form {
            @include display(flex);
            @include flex-flow(row);
            input, textarea {
                width: 76%;
            }
            input {
                &.middle {
                    width: 38%;
                }

            }
            select {
                &.middle {
                    margin-left: 2%;
                    width: 36%;
                }
            }
            label {
                font: 17px $ralewaymedium;
                width: 24%;
            }
        }
        .product__form-container__left {
            padding-right: 10px;
            width: 60%;

        }
        .product__form-container__right {
            width: 40%;
            input[type='file'] {
                position: absolute;
                display: none;
                width: 100%;
                height: 200px;
                &+label{
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    border: 1px solid black;
                    border-radius: 10px;
                    text-align: center;
                    line-height: 200px;
                    display: table-cell;
                    vertical-align: middle;
                    color: $grey_4;
                    position: relative;
                    //z-index: 2;
                }
            }
        }
    }
    .product-preview-container {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    #product-preview {
        display: block;
        margin: 0 auto;
    }

    .buyer__form-container {
        margin-bottom: 75px;
        form {
            @include display(flex);
            &>div {
                width: 50%;
            }
            label {
                font: 17px $ralewayregular;
            }
        }
        &--left {
            padding-right: 10px;
        }
        &--right {
            padding-left: 30px;
        }
    }
    .password-change__form-container {
        max-width: 458px;
        margin: 0 auto;
        form {
            label {
                font: 17px $ralewayregular;
            }
        }
    }


.list-products--app {
    td, th {
        &:first-child {
            width: 190px;
        }
        &:last-child {
            width: 108px;
        }
        &:nth-child(2) {
            width: 160px;
        }
        &:nth-child(4) {
            width: 178px;
        }
    }
}

/** Helpers **/

.errorlist {
    li {
        color: darkred;
    }
}

.message {
    width: 90%;
    margin: 1em auto;
    padding: 0.5em;
    border-radius: 0.5em;
    &--info {
        background: lightyellow;
        border: 1px solid #c3c39d;
        color: black;
        text-align: center;
    }
}