*,
*::after,
*::before {
    @include box-sizing(border-box);
    font-family: $opensans;
    color: white;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: white;
    }
}

figure {
    margin: 0;
}

header {
    position: relative;
    height: 100%;
    height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.background {
    position: fixed;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    height: 100vh;
    background: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    &--home {
        background-image: url("../images/bg_home.jpg");
    }
    &--register {
        background-image: url("../images/bg_register.jpg");
    }
    &--producer {
        background-image: url("../images/bg_producer.jpg");
    }
}

.header--buyer {
    background: url("../images/header_store.jpg") no-repeat center center;
    background-size: cover;
    height: 270px;
    .head__content {
        max-width: 1080px;
        margin: 0 auto;
    }

    h1 {
        font: 50px $ralewaylight;
        margin: 0;
        text-shadow: 2px 2px 1px #000;
    }
    p {
        font: 20px $ralewaylight;
        margin-top: 0.5em;
        text-shadow: 2px 2px 1px #000;
    }
}

.head {
    width: 100%;
    @include linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0), $fallback: transparent);
}

.head__top {
    @include display(flex);
    @include justify-content(space-between);
    margin: 0 auto;
    max-width: 1080px;
    padding-top: 30px;
    position: relative;

}


    .logo {
        max-width: 350px;
        position: relative;
        //z-index: 999;
    }

    .navigation {

        width: 730px;
        ul {
            @include display(flex);
            @include justify-content(space-between);
            list-style: none;
            li {
                color: white;
                display: inline-block;
                font-family: $ralewayregular;

            }
            .active {
                color: $orange_2;
            }
        }
    }

    .head__content {
        text-align: center;
        margin: 10px auto 0;
        position: relative;
        &--register {

        }
        .play-head {
            background: rgba(255, 255, 255, 0.85);
            border-radius: 50%;
            display: block;
            line-height: 84px;
            margin: 0 auto;
            width: 67px;
            height: 67px;
            text-decoration: none;
            .icon {
                &--play {
                    border-top: 13px solid transparent;
                    border-bottom: 13px solid transparent;
                    border-left: 13px solid $grey_1;
                    display: inline-block;
                    height: 0;
                    width: 0;
                }
            }
        }


        .head__intro {
            color: white;
            font: 18px $ralewayregular;
            margin: 10px auto 50px;
            max-width: 864px;
            text-shadow: 2px 2px 1px #000;
            line-height: 1.5;
        }
        .head__title {
            color: white;
            text-shadow: 2px 2px 1px #000;
            &--register {
                font: 50px $ralewaylight;
                margin-bottom: 110px;
            }
        }

        .actions {
            max-width: 1080px;
            margin: auto;
            @include display(flex);
            @include justify-content(space-around);
            .want-buy,
            .want-sale {
                @include align-self(center);
                background: rgba(255, 255, 255, 0.2);
                border: 2px solid white;
                border-radius: 50%;
                color: white;
                cursor: pointer;
                font: 40px $ralewaylight;
                line-height: 40px;
                height: 180px;
                width: 180px;
                > p {
                    font: inherit;
                    margin: 1.2em 0;
                }
                &:hover {
                    background: $orange_1;
                    @include transition(500ms ease all);
                }
            }
            &--register {
                .want-buy,
                .want-sale {
                    font: 32px $ralewaylight;
                }
            }
        }
        .goto-down {
            display: inline-block;
            margin-top: 20px;
        }
    }
.video-container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    z-index: -10;
}
.overlay {
    background: url("../images/scanlines.png");
    width: 100%;
    height: 100%;
    height: 100vh;
    position: fixed;
    z-index: -9;
}
.stop-head {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 50%;
    display: block;
    line-height: 84px;
    margin: 0 auto;
    width: 67px;
    height: 67px;
    text-decoration: none;
    position: absolute;
    bottom: -100px;
    left: 50%;
    text-decoration: none !important;
    z-index: 9999;
    @include transform(translate(-50%, 0));
    opacity: 0;
    .icon {
        &--stop {
            border-top: 13px solid $grey_1;
            border-bottom: 13px solid $grey_1;
            border-left: 13px solid $grey_1;
            border-right: 13px solid $grey_1;
            display: inline-block;
            height: 0;
            width: 0;
            margin-left: 12px;
        }
    }
}


.main-content {

    text-align: center;
    padding-top: 60px;
    &__text {
        padding-bottom: 60px;
        &>h1 {
            font: 65px $ralewaylight;
        }
        &>p {
            font-family: $ralewayregular;
            margin: 0 auto;
            max-width: 1080px;
            text-align: left;
            line-height: 1.5;
        }
    }
    &__video {
        //background: black;
        @include display(flex);
        position: relative;
        .video {
            &--large {
                width: 66.65%;
            }
            &--short {
                width: 33.35%;
            }
        }
    }
    &--home {
        background: $orange_1;
    }
    &--whatis {
        background: $green_2;
    }
    &--store {
        @include display(flex);
        padding-top: 0;

        .products {
            padding: 50px 90px 0 50px;
            width: 1000px;
            h2 {
                color: black;
                font: 23px $ralewaylight;
                margin: 0;
                text-align: left;
            }
            .buyer__actions {
                margin: 20px 0;
                overflow: hidden;
            }
            .btn--app {
                margin: 0;
                float: right;
            }
        }
    }
    &--store-detail {

        max-width: 1080px;
        margin: 0 auto;
        padding-top: 30px;
        .product,
        .shipping--info {
            border: 1px solid $grey_8;
            border-radius: 10px;
        }
        .product {
            overflow: hidden;
            @include display(flex);
            .product--image {
                padding: 80px 48px 80px 52px;
                width: 55%;

            }
            .product--description {
                background: $grey_7;
                padding: 40px;
                text-align: left;
                width: 45%;
                * {
                    color: black;

                }
                h2 {
                    border-bottom: 1px solid $grey_8;
                    font: 20px $ralewaymedium;
                    margin: 0;
                    padding-bottom: 4px;
                }

                .product--subtitle {
                    color: $grey_6;
                    font: 16px $ralewaymedium;
                    margin: 4px 0 0 ;
                }

                .product--quantity-min {
                    span {
                        font-weight: bold;
                    }
                }
                .product--text {
                    color: $grey_6;
                    font: 14px $ralewaymedium;
                }
                .product--quantity {
                    border: 1px solid $grey_8;
                    font-size: 23px;
                    height: 35px;
                    margin: 0 0 20px 0;
                    width: 85px;
                }
                .btn--app {
                    color: white;
                }
            }
        }
        .shipping--info {
            margin: 30px 0;
            padding: 20px;
            h2 {
                color: black;
                font: 20px $ralewaymedium;
                margin: 0;
                text-align: left;
            }
            p {
                color: $grey_6;
                font: 15px $ralewaymedium;
                text-align: left;
                span {
                    color: inherit;
                    font-weight: bold;
                }
            }
            ul {
                margin-left: 20px;
            }

            li {
                color: $grey_6;
                list-style: disc;
                text-align: left;
            }
        }
    }
}

.cart-items {
    position: absolute;
    top: 0px;
    right: 0;
    width: 75px;
    height: 75px;
    border-radius: 8px;
    line-height: 90px;
    background: url("../images/basket.png") no-repeat center, rgba(255, 255, 255, 0.6);
    a {
        display: block;
        width: 100%;
        height: 100%;

    }
}

.product--price {
    font: 16px $ralewaylight;
    color: black;
    text-align: left;
    margin: 0.5em 0;
    span {
        color: $red_1 !important;
        font: 19px $ralewaymedium;
    }
    &::before {
        content: "$ ";
        color: $red_1;
    }
}

.filter {
    background: $grey_7;
    min-height: 46vh;
    padding: 50px 0 0 100px;
    width: 280px;
    p, label {
        color: black;
    }
    p {
        font: 16px $ralewaymedium;
        margin: 0 0 0.5em 0;
        padding-left: 15px;
        position: relative;
    }
    label {
        font: 14px $ralewaymedium;
    }
    li {
        text-align: left;
        padding-left: 1em;
    }
    &>ul > li {
        margin-top: 1em;
        &:first-child {
            margin-top: 0;
        }
    }
}
    .arrow--filter {
        position: absolute;
        top: 7px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
        //@include transition(300ms ease transform);
        @include transform(rotate(-90deg))
    }

.filters {
    @include display(flex);
    @include justify-content(space-between);
    padding-bottom: 20px;
    select:first-child {
        width: 200px;
    }
    select:last-child {
        width: 85px;
    }
}

.products__list {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    .product__item {
        border: 1px solid $grey_8;
        border-radius: 10px;
        margin-bottom: 1em;
        overflow: hidden;
        width: 200px;
    }
    .product__info {
        padding: 1em;
    }
    .product__item__image {
        background-color: $grey_7;
        border-bottom: 1px solid $grey_8;
        padding: 0.5em 0;
        width: 198px;
        height: 152px;
    }
    .product__item__name {
        color: black;
        font: 16px $ralewaymedium;
        margin: 0;
        text-align: left;
        text-transform: uppercase;
    }
    .btn--store {
        width: 85px !important;
        float: none !important;
    }

}

.pagination {
    text-align: right;
    a {
        color: $grey_4;
    }
}


.login__form-container {
    max-width: 458px;
    margin: 0 auto;
    form {
        width: 100%;
        input {
            width: 73%;
        }
        label {
            font: 18px $ralewayregular;
            line-height: 30px;
            text-shadow: 2px 2px 1px #000;
            width: 27%;
        }
    }
}
.modal {
    width: 100%;
    height: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    display: block;
    &--hidden {
        display: none;
    }
}
.contact {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    //z-index: -1;
    &__link {
        background: $green_1;
        border-radius: 10px 10px 0 0;
        display: block;
        font: 18px $ralewaylight;
        height: 40px;
        line-height: 40px;
        position: relative;
        text-align: center;
        width: 260px;
        z-index: 9998;
        @include transform(rotate(-90deg) translate(-130%, -105px));
        .arrow {
            position: absolute;
            top: 15px;
            right: 50px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid white;
            @include transition(300ms ease transform);
            @include transform(rotate(0deg))
        }
        &--hide {
            .arrow {
                @include transform(rotate(180deg))
            }
        }
    }
    .contact__form-container {
        position: relative;
        width: 610px;
        height: 680px;
        form {
            height: 630px;
            padding: 39px 60px 0 0;
            position: absolute;
            text-align: center;
            top: 0;
            right: 0;
            width: 565px;
            h2 {
                font: 30px $ralewaylight;
            }
            span {
                display: block;
                font-family: $ralewaylight;
                text-align: right;
            }
            input,
            textarea {
                width: 62%;
            }
            button {
                float: right;
                width: 62%;
            }
            .contact__info {
                padding-top: 1em;
                padding-left: 38%;
                clear: both;
                color: white;
                text-align: left;
                p {
                    font-family: $ralewayregular;
                    margin: 0.25em 0;
                }
            }
        }

    }
}

.buyer-form,
.producer-form {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    display: none;
    h2 {
        font: 30px $ralewaylight;
        text-align: center;
        margin-top: 0;
    }
    span {
        display: block;
        font-family: $ralewaylight;
        text-align: right;
    }
    form {
        padding: 30px 50px 25px ;
        width: 700px;
        input {
            width: 62%;
        }
        button {
            display: block;
            margin: 0 auto;

        }
    }
    &.visible-form {
        display: block;
    }
}

footer {
    background: $grey_1;
    height: 140px;
    .footer-content {
        @include align-items(center);
        @include display(flex);
        height: 100%;
        margin: 0 auto;
        max-width: 1080px;
    }
    .logo--footer {
        @include flex-grow(1);
    }
    .logo--extra {
        @include flex-grow(1);
        p {
            text-transform: uppercase;
        }
    }
}
//**************** popups **********************//
.popup {
    width: 540px;
    height: 300px;
    position: absolute;
    background: url("../images/popups.png") no-repeat;
    padding-top: 170px;
    display: none;
    top: 50%;
    left: 50%;
    z-index: 99;
    @include transform(translate(-50%, -50%));
}
.register-popup {
    background-position: 0 -600px;
}
.order-popup {
    background-position: 0 -300px;
}
.contact-popup {
    background-position: 0 0;
}
.popup__title {
    text-align: center;
    color: $green_4;
    margin: 0 0 1em;
    font-family: $ralewaymedium;
    font-weight: normal;
    text-transform: uppercase;
    &--error {
        color: darkred;
    }
}
.popup__message {
    text-align: center;
    font-family: $ralewaylight;
    color: black;
}
.popup__close {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
    background: url("../images/delete_icon.png") no-repeat center;
}

#message-change-request {
    display: none;
}


// /*-------------------- Helpers ----------------*/
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.uppercase {
    text-transform: uppercase;
}
.hideme {
    opacity: 0;
}
.relative{
    position: relative;
}
.full-width {
    width: 100%;
}

.btn {
    @include linear-gradient($green_2, $green_1);
    height: 30px;
    width: 340px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    &.btn--app {
        background: $green_5;
        border: 1px solid $green_4;
        border-radius: 4px;
        display: block;
        height: 35px;
        margin: 0 auto;
        width: 200px;
        &--left {
            margin: 0;
        }
    }
}
