form {
    background-color: black;
    &.white {
        background-color: white;
    }
    &.transparent {
        background-color: transparent;
    }
    &.transparent--inline {
        input[type="text"] {
            border: 1px solid $grey_4;
        }
        select {
            width: 100%;
        }
    }
}

input,
textarea {
    height: 30px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    color: black;
}

select {
    @include appearance(none);
    background: url("../images/arrow_dropdown.png") no-repeat;
    background-position: 95% center;
    border-radius: 10px;
    height: 30px;
    padding-right: 5px;
    &.select-filter {
        color: black;
        height: 35px;
    }
}
option {
    color: black;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    @include linear-gradient($green_2, $green_1);
    height: 30px;
    width: 340px;
    border: none;
    border-radius: 15px;
    &.btn--app {
        background: $green_5;
        border: 1px solid $green_4;
        border-radius: 4px;
        display: block;
        height: 35px;
        margin: 0 auto;
        width: 200px;
        &--left {
            margin: 0;
        }
    }
}

input[type="checkbox"] {
    display: none;
    + label {
        cursor: pointer;
        width: 50%;
    }
    &.white {
        + label::before {
            content: "";
            margin-right: 3px;
            display: inline-block;
            width: 15px;
            height: 15px;
            background: url("../images/checkbox.png") 0 15px;
        }
        &:checked + label::before {
            background: url("../images/checkbox.png") 0 0;
        }
    }
    &.black {
        + label {
            padding-right: 0;
        }
        + label::after {
            background: url("../images/checkbox.png") 15px 16px;
            content: "";
            margin-left: 3px;
            display: inline-block;
            width: 15px;
            height: 15px;
        }
        &:checked + label::after {
            background: url("../images/checkbox.png") 15px 0;
        }
    }
}

.form__item {
    margin: 1em 0;
    @include display(flex);
    @include justify-content(flex-end);
    &--black {
        label {
            font-family: $ralewaylight;
            padding-right: 5%;
            text-align: right;
            width: 38%;
        }
    }
    &--white {

        label {
            color: black;
            padding-right: 20px;
            text-align: right;
            width: 38%;
        }

        input, textarea, select {
            border: 1px solid $grey_6;
            color: black;
            width: 62%;
        }

    }
}