table {
    border-collapse: collapse;
    border-radius: 8px 8px 0 0;
    border: 1px solid $grey_3;
    margin-top: 42px;
    //overflow: hidden;
    width: 100%;
    thead {
        background: $grey_5;
    }
    tr {
        height: 50px;
        &.fifth {
            th, td {
                width: 20%;
            }
        }
        &.third {
            th, td {
                width: 33%;
                &:last-child {
                    width: 34%;
                }
            }
        }
    }
    th {
        color: $grey_4;
        border: 1px solid $grey_3;
        font-weight: normal;
    }
    td {
        color: black;
        border: 1px solid $grey_3;
        padding: 20px;
        a {
            color: $red_1;
            text-decoration: underline;
            &:visited {
                color: $red_1;
            }
        }
    }
}