@import "bourbon/bourbon";
@import "../css/normalize.css";
@import "../css/fonts.css";

// ----------- Variables ------------- //
//Fonts
$opensans: 'open_sansregular', sans;
$ralewaylight: 'ralewaylight', sans-serif;
$ralewayregular: 'ralewayregular', sans-serif;
$ralewaymedium: 'ralewaymedium', sans-serif;
$gothan: 'gotham_htf_bookregular', sans-serif;

// Colors
$orange_1: rgba(255, 130, 0, 1);
$orange_2: rgba(255, 191, 0, 1);
$green_1: rgba(97, 127, 0, 1);
$green_2: rgba(104, 137, 0, 1);
$green_3: rgba(147, 204, 65, 1);
$green_4: rgba(20, 100, 0, 1); // Border button app forms
$green_5: rgba(70, 140, 0, 1); // Background button app forms
$grey_1: rgba(51, 51, 51, 1);
$grey_2: rgba(236, 236, 251, 1);
$grey_3: rgba(204, 204, 204, 1); // Border tables
$grey_4: rgba(84, 84, 84, 1); // Text thead
$grey_5: rgba(238, 238, 238, 1); // Background thead
$grey_6: rgba(102, 102, 102, 1); // Border input
$grey_7: rgba(240, 240, 225, 1); // Rectangle shop
$grey_8: rgba(136, 136, 136, 1); // Border product detail
$blue_1: rgba(27, 36, 51, 1);
$blue_2: rgba(18, 26, 39, 1);
$red_1: rgba(217, 54, 0, 1);


// Includes partials
@import "forms";
@import "base";
@import "app";
@import "tables";